.ee_items{
    border: 1px solid coral;
    width:15%;
}
.ee_items *{
    padding: 3px;
}
.ee_items div em{
    text-decoration: underline;
}
table, th, tr, td{
    border:1px solid black;
    border-collapse: collapse;
}
table td{
    text-align: right;
    padding:2px;
    width:100px;
}

td:first-child{
    text-align: center;
    font-weight: bold;
}

tr:nth-child(even) td{
    background-color: bisque;
}

tr:nth-child(odd) td{
    background-color: white;
}

tr.highlight td{
    background-color: rgb(251, 251, 177);
    color: rgb(28, 93, 139);
}