.ee_items{
    border: 1px solid coral;
    width:15%;
}
.ee_items *{
    padding: 3px;
}
.ee_items div em{
    text-decoration: underline;
}
table, th, tr, td{
    border:1px solid black;
    border-collapse: collapse;
}
table td{
    text-align: right;
    padding:2px;
    width:100px;
}

td:first-child{
    text-align: center;
    font-weight: bold;
}

tr:nth-child(even) td{
    background-color: bisque;
}

tr:nth-child(odd) td{
    background-color: white;
}

tr.highlight td{
    background-color: rgb(251, 251, 177);
    color: rgb(28, 93, 139);
}

.normal-clock{
    float: left;
    background-color: aquamarine;
    width:30%;
    height: 100px;
    padding:3px;
}

.counter{
    float: left;
    background-color: rgb(18, 186, 186);
    width: 30%;
    height: 100px;
    padding:3px;
}

.counter *{
    text-align: center;
    
}

.clock-using-hooks{
    float: left;
    background-color: bisque;
    width:30%;  
    height: 100px;
    padding:3px;
}